DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
BIRD_SCHEDULES_FILE=./data/schedules.json
BIRD_CATALOG_FILE=./data/birds.json
BIRD_CATALOG_URL=https://ornithophile.vercel.app/api/birds
TZ=America/Santiago
